.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.btn {
  background-color: lightblue;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 0 40px;
  height: 40px;
  margin-left: 20px;
}

.progress-bar {
  text-align: center;
}